body{
  text-align: center;
  background-color: #4b9da6;
}
p{
  font-family: monospace;
  font-size: 20px;
}
div { background-color: ##8295f5
    }
#page-1-image{
  animation:  fade-in 5s;
}

@keyframes fade-in
{
  from {
    margin-left: 100%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-left: 15px;
  }
.btn:hover{
  transform: translateY(10px);
}
